
@{
    ViewBag.Title = "Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="https://code.angularjs.org/1.2.14/angular.js"></script>*@
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js" integrity="sha512-/uxeq6VcJ+do+PtGgWZwRL/Z63r53cK6yek3NzvQwce6aCeheKRD59IuRsEFuNU8b0B/lZ6fUx1fncf0wMIm5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--Author Info-->
<div class="row" style="display:flex;margin-top:10px;">
    <div class="col-lg-12" ng-app="authorInfoModule">
        <div class="ibox" ng-controller="authorInfoController">
            <div style="margin: 20px 0px 10px 0px">
                <table ng-model="author.table" class="table table-bordered table-striped table-hover" ng-init="getAuthor(0)">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Bio</th>
                            <th>Link</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="a in authors">


                            <td>{{ a.name }}</td>
                            <td>{{ a.bio }}</td>
                            <td>
                                <a href="{{a.link}}" target="_blank"> {{ a.name }}'s Wiki</a>
                            </td>
                            
                            <td>
                                <button type="button" class="btn btn-info" style="margin-bottom:7px;margin-top:7px;cursor:pointer;" ng-show="addFav" ng-click="addFavorite(a._id);"><strong>Add Favorite</strong></button>
                                <button type="button"  class="btn btn-danger" style="margin-bottom:7px;margin-top:7px;cursor:pointer;" ng-show="removeFav"  ng-click="removeFavorite(a._id);"><strong>Remove Favorite</strong></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="20" ng-change="pageChanged()"></ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var app = angular.module('authorInfoModule', ['ngAnimate', 'ngSanitize', 'ui.bootstrap', 'ngStorage']);
    app.controller('authorInfoController', function ($scope, $http, $localStorage, $window) {
        $scope.removeFav = false;
        $scope.addFav = true;
        var skip = 0;
        //$scope.totalItems = 70;
        //$scope.currentPage = 1;

        //$scope.setPage = function (pageNo) {
        //    $scope.currentPage = pageNo;
        //};

        $scope.pageChanged = function () {
            //$log.log('Page changed to: ' + $scope.currentPage);
            $scope.skip = ($scope.currentPage * 20) - 20;

            $scope.getAuthor(skip);

            //window.location.reload();
            console.log($scope.currentPage);
        };

        $scope.getAuthor = function (skip) {

            //let url = 'https://api.quotable.io/authors';
            let url = 'https://api.quotable.io/authors?limit=20&skip=' + skip;

            $http.get(url, { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {

                    $scope.authors = response.data.results;
                    $scope.totalItems = response.data.totalCount;


                }, function error(response) {
                })

        }
        $localStorage.data = [];
        var store = {};
        $scope.flag = false;
        $scope.addFavorite = function (id) {
            if (!store[id]) {
                $scope.favoriteAuthor = $scope.authors.filter(au => au._id == id);
                if ($scope.favoriteAuthor[0] == null) { alert("NULLL"); return false;}
                    $localStorage.data.push($scope.favoriteAuthor[0]);
                store[id] = true;
                $scope.flag = true;
                $scope.removeFav = true;
                
            }
            else {
                alert("Already added to favourite");
            }

        }

        $scope.removeFavorite = function (authorid) {

            var temp = JSON.parse(localStorage.getItem('ngStorage-data'));
            //localStorage.removeItem('ngStorage-data');
            //$localStorage.$reset();

            delete $localStorage.data;
            let index = temp.findIndex(function (authorid, i) {
                return temp[i]._id == authorid._id;
            })

            store = {};
            console.log(temp);
            temp.splice(index, 1);
            console.log(temp);
            $localStorage.data = [];
            var checkLength = temp.length - 1;
            for (var i = 0; i => checkLength; i++) {
                if (i == temp.length) { return false;}
                $scope.addFavorite(temp[i]._id);
            }
            
           
        }
        


    });


</script>
