
@{
    ViewBag.Title = "Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="https://code.angularjs.org/1.2.14/angular.js"></script>*@
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!--Author Info-->
<div class="row" style="display:flex;margin-top:10px;">
    <div class="col-lg-12" ng-app="authorInfoModule">
        <div class="ibox" ng-controller="authorInfoController">
            <div style="margin: 20px 0px 10px 0px">
                <table class="table table-bordered table-striped table-hover" ng-init="getAuthor()">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Bio</th>
                            <th>Link</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="a in authors">


                            <td>{{ a.name }}</td>
                            <td>{{ a.bio }}</td>
                            <td>
                                <a>{{a.link}}</a>
                            </td>

                            <td>
                                <button type="submit" class="btn btn-info" style="margin-bottom:7px;margin-top:7px;cursor:pointer;" ng-click=""><strong>Add Favorite</strong></button>
                                <button type="submit" class="btn btn-danger" style="margin-bottom:7px;margin-top:7px;cursor:pointer;" ng-click=""><strong>Remove Favorite</strong></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(10)"></ul>
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var app = angular.module('authorInfoModule', ['ngAnimate', 'ngSanitize', 'ui.bootstrap']);
    app.controller('authorInfoController', function ($scope, $http, $log) {

        var skip;
        $scope.totalItems = 700;
        $scope.currentPage = 1;

        $scope.setPage = function (pageNo) {
            $scope.currentPage = pageNo;
        };

        $scope.pageChanged = function (skipQuantity) {
            //$log.log('Page changed to: ' + $scope.currentPage);
            $log.skip += skipQuantity;
        };

        $scope.getAuthor = function () {

            //let url = 'https://api.quotable.io/authors';
            let url = 'https://api.quotable.io/authors?limit=10&skip='+skip;

            $http.get(url, { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {

                    $scope.authors = response.data.results;


                }, function error(response) {
                })

        }


    });
</script>
